extends layout

block content
  if company
    for val in company.titles
      p #{val}
    div.form
      form(name="create_title", action="/title/#{company.uuid}", method="post")
        input(type="text", name="name")
        input(type="submit", value="Add Title")