extends layout

block content
  if titles
    each val in companies
      div.loginbox
      p #{val.name}
  div.form
    form(name="create_company", action="/company", method="post")
      input(type="text", name="name")
      input(type="submit", value="create")